<div class="form-container">
  <h2>Crear usuario</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="fullName">Nombre de usuario</label>
      <input type="text" id="fullName" name="fullName" [(ngModel)]="user.fullName" required minlength="3" #fullName="ngModel">
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="error">
        <div *ngIf="fullName.errors?.['required']">El nombre de usuario es requerido</div>
        <div *ngIf="fullName.errors?.['minlength']">El nombre de usuario debe contener minimo 3 caracteres</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required email #email="ngModel">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']">el correo es requerido</div>
        <div *ngIf="email.errors?.['email']">El formato del correo es invalido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required minlength="6" #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors?.['required']">La contraseña es requerida</div>
        <div *ngIf="password.errors?.['minlength']">La contraseña debe de contener al menos 6 caracteres</div>
      </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid">Mandar</button>
  </form>
</div>